.ss-product__box{
	padding:1rem;
	border: 1px solid #ccc;
	margin: 1rem 0;
}

.ss-product__size .ss-product__list{
	list-style-type: none;
	padding-left: 0;
}
.ss-product__size .ss-product__list li{
	display : inline-block;
	font-size: .7rem;
	padding: .3rem .5rem;
	border: 1px solid #666;
	margin-left:.5rem;
}
.btn.btn-ss{
	border-radius: 0;
}


a{
	cursor: pointer;
}
.ss-modal__screen{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, .5);
	overflow: hidden;
}
.ss-modal__screen--display{
	display: block;
}
.ss-modal__screen--none{
	display: none;
}

.ss-modal__content{
	position: fixed;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	text-align: center;
}
.ss-modal__close{
	position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  cursor: pointer;
}